{% use "form_div_layout.html.twig" %}

{% block form_inline_row %}

    <div class="form-group">
        {{ form_label(form, label, {'label_attr':{'class': 'col-sm-4 control-label'}}) }}
        <div class="col-sm-8">
            {{ form_widget(form, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>

{% endblock form_inline_row %}
{% block form_row %}

    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr':{'class':'form-control'}}) }}
    </div>

{% endblock form_row %}