{% extends 'layout.html.twig' %}

{% block body %}
    <div class='col-md-4' style='margin: 0 auto; float: none;'>
        <div class="tresc green">
            <h3>Dodaj wyjazd</h3>
            <form method="post">
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.type) }}
                {{ form_row(form.save) }}
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}