{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container green">
        <div class='col-md-5'>
            <div class='tresc'>
                <h3>Informacje o wyjeździe</h3>
                <dl class="dl-horizontal">
                    <dt>Osoba obsługująca</dt>
                    <dd>{{ app.user.username }}</dd>
                    <dt>Nazwa zadania</dt>
                    <dd>{{ trip.name }}</dd>
                    <dt>Nazwa hufca</dt>
                    <dd>{{ trip.troops.name }}</dd>
                    <dt>Ilość faktur</dt>
                    <dd>{{ trip.invoices|length }}</dd>
                </dl>
            </div>
        </div>
        <div class='col-md-7'>
            <div class='tresc'>
                <h3>Lista faktur</h3>
                <table class="table table-hover">
                    <thead> 
                        <tr> 
                            <th>ID</th>
                            <th>Numer faktury</th>
                            <th>Kwota</th>
                            <th>Data zakupu</th>
                            <th>Akcje</th>
                        </tr>
                    </thead> 
                    <tbody> 
                        {% for invoice in trip.invoices %}
                            <tr>
                                <th scope="row">{{ invoice.id }}</th>
                                <td>{{ invoice.invoiceNumber }}</td>
                                <td>{{ invoice.payment }}</td>
                                <td>{{ invoice.datePayment.format('d.m.Y') }} r.</td>
                                <td>
                                    <a href='{{ url('edit-invoice', {invoiceId: invoice.id}) }}'>
                                        <button type="button" class="btn btn-success btn-sm">Edycja</button>
                                    </a>
                                    <a href='{{ url('invoice2pdf', {id: invoice.id}) }}'>
                                        <button type="button" class="btn btn-success btn-sm">Generuj PDF</button>
                                    </a>
                                    <a href='{{ url('delete-invoice', {invoiceId: invoice.id}) }}'>
                                        <button type="button" class="btn btn-danger btn-sm">Usuń</button>
                                    </a>
                                </td>
                            </tr> 
                        {% endfor %}
                    </tbody>
                </table>
                <a href='{{ url('create-invoice', {tripID: trip.id})}}'>
                    <button type="button" class="btn btn-success">Dodaj fakturę</button>
                </a>
                {% if(trip.invoices|length > 0) %}
                    <a href='{{ url('invoices2pdf', {tripId: trip.id})}}'>
                        <button type="button" class="btn btn-success">Wyświetl wszystkie</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

