<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Opis faktur{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
            <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <section id='header'>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle green collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Opis faktur</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            {% if app.user %}
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#about">About</a></li>
                                {% endif %}

                        </ul>
                        <ul class="nav navbar-nav navbar-right">

                            {% if app.user %}
                                <li class='nav-right'><a href="{{ url('fos_user_security_logout') }}">Wyloguj</a></li>
                                {% else %}
                                <li class='nav-right'><a href="{{ url('fos_user_security_login') }}">Zaloguj</a></li>
                                <li class='nav-right'><a href="{{ url('fos_user_registration_register') }}">Zarejestruj</a></li>
                                {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <section id='body'>
        {% block body %}{% endblock %}
        {% block fos_user_content %}
        {% endblock %}
    </section>
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/core.js') }}"></script>
    {% endblock %}
</body>
</html>
