{% extends 'layout.html.twig' %}

{% block body %}
    <meta charset='utf8'/>
    <div class="container" >
        <div class='col-md-6'>
            <div class='tresc green'>
                <h3>Witaj {{ user.username }}!</h3>
                <dl class="dl-horizontal">
                    <dt>Chorągiew</dt>
                    <dd>{{ user.troops.region.name }}</dd>
                    <dt>Hufiec</dt>
                    <dd>{{ user.troops.name }}</dd>
                </dl>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='tresc green'>
                <h3>Lista wyjazdów</h3>
                <table class="table table-hover">
                    <thead> 
                        <tr> 
                            <th>#</th>
                            <th>Nazwa</th>
                            <th>Akcje</th>
                        </tr>
                    </thead> 
                    <tbody> 
                        {% for trip in trips %}
                            <tr>
                                <th scope="row">{{ trip.id }}</th>
                                <td>{{ trip.name }}</td>
                                <td>
                                    <a href='{{ url('trip', {id: trip.id})}}'>
                                        <button type="button" class="btn btn-success btn-sm">Pokaż</button>
                                    </a>
                                </td>
                            </tr> 
                        {% endfor %}
                    </tbody>
                </table>
                <a href='{{ url('create-trip') }}'>
                    <button type="button" class="btn btn-success">Dodaj wyjazd</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

