/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-05, 23:24:31
    Author     : Marcin

#84A311 - jasna zieleń
#718c0f - zieleń ciemniejsza
*/
body {

}
.form-group {
    min-height: 30px;
}
/* NAVBAR */
.navbar {
    background-color: #718c0f;
}
.navbar a {
    color: white;
    background-color: #718c0f; 
}
.nav-right {

}

.btn-green {
    background-color: #718c0f;
    color: white;
}
.btn-green:hover {
    background-color: #84A311;
    color: white;
}
.navbar li a:hover {
    background-color: #84A311;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.navbar li a:active {
    background-color: #84A311;
}
.green {
    border-color: #718c0f;
    color: #718c0f;
}
#header {
    height: 60px;
}
.tresc h3 {
    margin-top: 10px;
    padding-bottom: 3px;
    border-bottom: solid 2px;  
    font-weight:600;
}
.tresc {
    margin-bottom: 15px;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border: solid 1px;
    border-radius: 6px;
    padding: 0 20px 10px 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* FORMS */
.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}
.label 
{

    float:left;
    width:240px;
    height:30px;
    text-align:left;
}
.label label
{
    color:#718c0f;
    font-size:16px;
    padding:7px;
    font-weight:300;
    text-align:left;
}
.widget
{

    float:left;
    width:230px;
    height:30px;
    margin-left:20px;

}
.widget select
{
    width:200px;
    height:30px;
    margin-left:30px;
}
.widget input
{
    width:190px;
    height:30px;
}
.widget select
{
    width:190px;
}

.info-icon
{
    background-color:#718c0f;
    float:left;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.fa-info
{
    padding-left:13px;
    padding-top:9px;
    color:white;
    font-size:16px;
}
.dummy
{
    float:right;
}