{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class='col-md-4' style='margin: 0 auto; float: none;'>
    <div class='tresc green'>
        <h3>Zaloguj się</h3>
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <label for="username">Nazwa użytkownika</label>
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">

                <label for="password">Hasło</label>
                <input type="password" id="password"  class="form-control" name="_password" required="required" />
            </div>
            <div class="form-group text-right">
                <input type="submit" id="_submit" class="btn green" name="_submit" value="Zaloguj" />
            </div>
        </form>
    </div>
</div>
