{% extends 'layout.html.twig' %}

{% block body %}
    <form action="{{ path('create-invoice', {tripID: tripID}) }}" method="post">
        <div class='col-md-6'>
            <div class='tresc green'>
                <h3>Informacje podstawowe</h3>
                {{ form_errors(form) }}
                {{ form_row(form.type) }}

                {{ form_row(form.invoiceNumber) }}
                {{ form_row(form.goal) }}
                {{ form_row(form.payment) }}
                {{ form_row(form.typeOfCosts) }}
                {{ form_row(form.datePayment) }}
                {{ form_row(form.paymentType) }}
                {{ form_row(form.save) }}
            </div>
        </div>
        <div class='col-md-6'>
            <div class='tresc green'>
                <h3>Informacje dodatkowe</h3>
                {{ form_rest(form) }}
            </div>
        </div>

    </form>
{% endblock %}