<meta charset='utf8'>
<style>
    body {
        background-size: 100%;
        background-repeat: no-repeat;
    }
    html body {
        margin: 0;
        padding: 0;
        font-size: 17px;
    }
</style>
<body style="width: 100%; font-size: 13px;">
    <div style="position: absolute; left:0; right: 0; top: 0; bottom: 0;">
        <img src="{{ rootDir ~ '/web' ~ asset('img/opole/background.png') }}" style="width: 210mm; height: 297mm; margin: 0;" />
    </div>
    <div style='position: absolute; left: 22%; top: 11.5%; width: 500px;'>{{ header.getUnit() }}</div>
    <div style='position: absolute; left: 51%; top: 11.5%; width: 500px;'>{{ header.getTaskName() }}</div>
    <div style='position: absolute; left: 22%; top: 16.3%; width: 500px;'>{{ header.getInvoiceNumber()}}</div>
    <div style='position: absolute; left: 68%; top: 16.3%; width: 500px;'>{{ header.getPrice() }}</div>
    <div style='position: absolute; left: 22%; top: 21%; width: 500px;'>{{ header.getGoal() }}</div>


    <!-- PODKREŚLENIE TYPU FAKTURY 
    faktura nr
    rachunek nr
    delegacja
    rachunek kosztów i inne
    -->
    {% if header.getInvoiceType() == 1 %}
        <div style='position: absolute; left: -48%; top: 14.6%'><hr size='3' style='background-color: black; width:4%; color:black'></hr></div>
        {% endif %}
        {% if header.getInvoiceType() == 2 %}
        <div style='position: absolute; left: -33%; top: 14.6%'><hr size='3' style='background-color: black; width:58px; color:black'></hr></div>
        {% endif %}
        {% if header.getInvoiceType() == 3 %}
        <div style='position: absolute; left: -19%; top: 14.6%'><hr size='3' style='background-color: black; width:48px; color:black'></hr></div>
        {% endif %}
        {% if header.getInvoiceType() == 4 %}
        <div style='position: absolute; left: 9%; top: 14.6%'><hr size='3' style='background-color: black; width:155px; color:black'></hr></div>
        {% endif %}

    <!-- rodzaj poniesionych kosztów -->
    <!-- Działalność odpłatna pożytku publicznego-->
    {% if finance.getTypeOfCosts() == 1 %}
        <div style='position: absolute; left: 49.5%; top: 34.9%; width: 500px;'>x</div>
    {% endif %}
    {% if finance.getTypeOfCosts() == 2 %}
        <!-- Działalność nieodpłatna pożytku publicznego -->
        <div style='position: absolute; left: 49.5%; top: 36.5%; width: 500px;'>x</div>
    {% endif %}
    {% if finance.getTypeOfCosts() == 3 %}
        <!-- Koszty administracyjne, w tym zużycie materiałów i blabla-->
        <div style='position: absolute; left: 49.5%; top: 39.5%; width: 500px;'>x</div>
    {% endif %}
    {% if finance.getTypeOfCosts() == 4 %}
        <!-- Koszty kampanii informacyjnej dot. 1% podatku -->
        <div style='position: absolute; left: 49.5%; top: 42.6%; width: 500px;'>x</div>
    {% endif %}
    {% if finance.getTypeOfCosts() == 5 %}
        <!-- Pozostałe koszty-->
        <div style='position: absolute; left: 49.5%; top: 44.1%; width: 500px;'>x</div>
    {% endif %}

    <!-- Prawa finansowanie -->

    <!-- zadanie sfinansowane ze środków własnych w kwocie -->
    <div style='position: absolute; left: 84%; top: 32.7%; width: 500px;'>{{ finance.getFinancingPrice() }}</div>
    <!-- Środki własne chorągwi-->
    <div style='position: absolute; left: 88.2%; top: 35%; width: 500px;'>{{ finance.getTroopsResources() }}</div>
    <!-- Wpłaty uczestników -->
    <div style='position: absolute; left: 88.2%; top: 36.5%; width: 500px;'>{{ finance.getMemberPayments() }}</div>
    <!-- 1% -->
    <div style='position: absolute; left: 88.2%; top: 38.2%; width: 500px;'>{{ finance.getOnePercent() }}</div>
    <!-- Składki -->
    <div style='position: absolute; left: 88.2%; top: 40.5%; width: 500px;'>{{ finance.getCollections() }}</div>
    <!-- Zbiórka publiczna -->
    <div style='position: absolute; left: 88.4%; top: 42.7%; width: 500px;'>{{ finance.getPublicCollection() }}</div>
    <!-- Inne (nawiązki, sponsorzy, inne) -->
    <div style='position: absolute; left: 88.4%; top: 44.2%; width: 500px;'>{{ finance.getOthers() }}</div>

    <div style='position: absolute; left: 840px; top: 45%; width: 500px;'>{{ fund.getProjectPrice }}</div>

    <!-- dotyczy zakupu -->
    <div style='position: absolute; left: 370px; top: 730px; width: 500px;'>{{ fund.getCostType() }}</div>
    <!-- nr pozycji kosztorysu -->   
    <div style='position: absolute; left: 840px; top: 730px; width: 500px;'>{{ fund.getEstimateNumber() }}</div>
    <!-- kwota faktury 16 -->
    <div style='position: absolute; left: 370px; top: 810px; width: 500px;'>{{ fund.getEligibleInvoiceCost() }}</div>
    <!-- zgodnie z umową zawartą z 17 -->
    <div style='position: absolute; left: 530px; top: 830px; width: 500px;'>{{ fund.getDonorName() }}</div>
    <!-- kwota faktury 19 -->
    <div style='position: absolute; left: 370px; top: 885px; width: 500px;'>{{ fund.getAgreementNumber() }}</div>
    <!-- kwota faktury 20 -->
    <div style='position: absolute; left: 370px; top: 935px; width: 500px;'>{{ fund.getAgreementDate() }}</div>
    <!-- numer zawarcia umowy 18 -->
    <div style='position: absolute; left: 800px; top: 850px; width: 500px;'>{{ fund.getInvoiceDonatedPrice() }}</div>
    <!-- data zawarcia umowy 18 -->
    <div style='position: absolute; left: 800px; top: 870px; width: 500px;'>{{ fund.getInvoiceOwnPrice() }}</div>
    <!-- payment -->
    <!-- gotówka -->
    {% if payment.getPaymentType() == 1 %}
        <div style='position: absolute; left: 50%; top: 69.7%'><hr size='5' style='background-color: black; color: black; width:65px;'></hr></div>
        <div style='position: absolute; left: 73%; top: 69.7%'><hr size='5' style='background-color: black; color: black; width:100px;'></hr></div>
        {% endif %}
        {% if payment.getPaymentType() == 2 %}
        <!-- przelew -->

        <div style='position: absolute; left: 34%; top: 69.7%'><hr size='5' style='background-color: black; color: black; width:52px;'></hr></div>
        <div style='position: absolute; left: 73%; top: 69.7%'><hr size='5' style='background-color: black; color: black; width:100px;'></hr></div>
        {% endif %}
        {% if payment.getPaymentType() == 3 %}
        <div style='position: absolute; left: 34%; top: 69.7%'><hr size='5' style='background-color: black; color: black; width:52px;'></hr></div>
        <div style='position: absolute; left: 50%; top: 69.7%'><hr size='5' style='background-color: black; color: black; width:65px;'></hr></div>
        <!-- inne -->

    {% endif %}
    <!-- uwagi 22 -->
    <div style='position: absolute; left: 10%; top: 74.5%; width: 500px;'>{{ payment.getPaymentComment() }}</div>

    <!-- 23 -->
    <div style='position: absolute; left: 60%; top: 77.5%; width: 500px;'>{{ payment.getPrice() }}</div>
    <!-- 24 -->
    <div style='position: absolute; left: 30%; top: 79.5%; width: 500px;'>{{ payment.getPriceInWords() }}</div>
    <!-- data -->
    <div style='position: absolute; left: 30%; top: 81.8%; width: 500px;'>{{ payment.getTransactionDate().format('d.m.Y') }}r.</div>

</body> 