{% extends "layout.html.twig" %}
{% block fos_user_content %}

    <div class='col-md-4' style='margin: 0 auto; float: none;'>
        <div class='tresc green'>
            <h3>Rejestracja</h3>
            {% if(error is defined) %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_row(form.email) }}
            {{ form_row(form.username) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.troops) }}
            <div class="form-row text-right">
                <input type="submit" id="_submit" class="btn green" name="_submit" value="Zaloguj" />
            </div>
            {{ form_end(form) }}
        </div>       
    </div>
{% endblock %}